<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Embox</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button-checkout.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/styles-checkout.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: rgb(255,102,0);">
        <div class="container"><img src="assets/img/EmboxFilled.png" style="width: 13%;margin-top: 10px;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: #ffffff;">Browse</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="#" style="color: #ffffff;">Customer name</a><a class="btn btn-light action-button" role="button" href="#">Cart</a></span>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column">
        <h1 style="font-size: 30px;font-family: Acme, sans-serif;padding-top: 2%;margin-bottom: -11px;padding-left: 14%;">Checkout</h1>
    </div>
    <div class="d-flex flex-row justify-content-evenly m-auto" style="padding: 0px;padding-top: 1%;">
        <div class="d-flex flex-column">
            <div>
                <div class="flex-ele" style="height: 20%;max-height: 20%;">
                    <h1 style="font-size: 26px;padding-top: 0px;">Customer Name</h1>
                    <p>Email ID:<label class="form-label" style="padding-right: 0px;padding-left: 12px;">Label</label></p>
                </div>
                <div class="flex-ele" style="height: 51%;max-height: 51%;">
                    <h1 style="font-size: 26px;padding-bottom: 8px;">Delivery Address</h1>
                    <div class="d-flex flex-column">
                        <div class="d-flex add-ele"><label class="form-label add-label" style="padding-left: 0px;padding-right: 10px;padding-bottom: 6px;">Street Address:</label><input type="text" style="padding-bottom: 6px;height: 25px;"></div>
                        <div class="d-flex add-ele"><label class="form-label add-label" style="padding-left: 0px;padding-right: 10px;padding-bottom: 6px;">Street Address 2:</label><input type="text" style="padding-bottom: 6px;height: 25px;"></div>
                        <div class="d-flex add-ele"><label class="form-label add-label" style="padding-left: 0px;padding-right: 10px;padding-bottom: 6px;">City:</label><input type="text" style="padding-bottom: 6px;height: 25px;"></div>
                        <div class="d-flex add-ele"><label class="form-label add-label" style="padding-left: 0px;padding-right: 10px;padding-bottom: 6px;">State/Province:</label><input type="text" style="padding-bottom: 6px;height: 25px;"></div>
                        <div class="d-flex add-ele"><label class="form-label add-label" style="padding-left: 0px;padding-right: 10px;padding-bottom: 6px;">Postal/Zip Code:</label><input type="text" style="padding-bottom: 6px;height: 25px;"></div>
                    </div>
                </div>
                <div class="flex-ele" style="height: 18%;max-height: 18%;">
                    <h1 style="font-size: 26px;padding-top: 0px;">Payment Method</h1>
                    <p>Select delivery address to select payment methods<br></p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="flex-ele-right" style="height: 18%;min-height: 18%;max-height: 18%;">
                <h1 style="font-size: 26px;">Order From</h1>
                <p>k4dabha No.1</p>
            </div>
            <div class="flex-ele-right" style="height: 30%;min-height: 44%;max-height: 41%;">
                <h1 style="font-size: 26px;margin-bottom: 19px;">Cart</h1>
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="font-size: 19px;font-family: ABeeZee, sans-serif;">Dish name</h5>
                        <p style="margin-top: -6px;color: rgba(33,37,41,0.8);">Price</p>
                    </div>
                    <p style="padding-right: 0px;margin-right: 0px;">Quantity</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="font-size: 19px;font-family: ABeeZee, sans-serif;">Dish name</h5>
                        <p style="margin-top: -6px;color: rgba(33,37,41,0.8);">Price</p>
                    </div>
                    <p style="padding-right: 0px;margin-right: 0px;">Quantity</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="font-size: 19px;font-family: ABeeZee, sans-serif;">Dish name</h5>
                        <p style="margin-top: -6px;color: rgba(33,37,41,0.8);">Price</p>
                    </div>
                    <p style="padding-right: 0px;margin-right: 0px;">Quantity</p>
                </div>
            </div>
            <div class="flex-ele-right" style="height: 32%;max-height: 51%;">
                <h1 style="font-size: 26px;margin-bottom: 19px;">Details</h1>
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="font-size: 19px;font-family: ABeeZee, sans-serif;">Subtotal</h5>
                    </div>
                    <p style="padding-right: 0px;margin-right: 0px;">smthn</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="font-size: 19px;font-family: ABeeZee, sans-serif;">Taxes</h5>
                    </div>
                    <p style="padding-right: 0px;margin-right: 0px;">smthn</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="font-size: 19px;font-family: ABeeZee, sans-serif;">Total</h5>
                    </div>
                    <p style="padding-right: 0px;margin-right: 0px;">smthn</p>
                </div>
            </div>
            <div class="flex-ele-right" style="border-style: none;"><button class="btn btn-primary" type="button" style="width: 107%;border-radius: 15px;margin-left: -12px;margin-top: -9px;background: rgb(255,102,0);">Proceed to checkout</button></div>
        </div>
    </div>
    <div style="margin-top: 2%;">
        <footer class="footer-basic">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2021</p>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>