<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Embox</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button-checkout.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/styles-checkout.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: rgb(255,102,0);">
        <div class="container"><img src="assets/img/EmboxFilled.png" style="width: 13%;margin-top: 10px;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: #ffffff;">Browse</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="#" style="color: #ffffff;padding-right: 13px;">Customer name</a><a class="btn btn-light action-button" role="button" href="#">Cart</a></span>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column" style="padding-bottom: 25px;">
        <h1 id="res-name" style="background: rgba(255,255,255,0);">{{  }}</h1><small id="red-add">Address</small>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center align-content-center flex-nowrap mt-auto list-group" id="menu">
        <div id="ress" class="list-group-item" style="border-top-width: 2px;">
            <div id="restaurant" class="float-start" style="padding: 6px 0 0 0;border-radius: 20px;border-width: 9px;"><a class="list-group-item list-group-item-action float-end" href="#" aria-current="true" style="height: 228.6px;border-width: 0px;background: rgb(255,255,255);border-radius: 0px;">
                    <div class="d-flex w-100 justify-content-between" style="margin-top: 10%;">
                        <h3 class="Acme">k4Dabha</h3>
                    </div>
                    <div class="d-flex">
                        <p id="dish-desc" class="mb-1">Best in the world as rated by Dabha Asc.<br><small style="font-size: 0.7em;">39 Ratings ⭐⭐⭐⭐⭐</small></p><button class="btn btn-primary" id="add-to-cart" type="button">Add To Cart</button>
                    </div>
                </a></div><img class="float-start" src="assets/img/download.jpg" style="padding-top: 8px;">
        </div>
    </div>
    <div style="padding-top: 3%;">
        <footer class="footer-basic">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2021</p>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>